.display-4{
    text-align: center; 
    margin: 0 , auto; 
   
}
.card-img-top{
    width: 100%;
    background-color: black;  
}
.head{
    text-align: center;
    margin: 0 auto; 
    font-size: 60px; 
}

#gameDiv{
  margin-top: 100px;
}

.rules{
  font-family: "Oswald", "sans-serif";
  font-size: 20px; 
  text-align: center;
}

.gameRules{
  font-size: 60px;
  font-family: "Oswald", "sans-serif";
  text-align: center;
}
.highLow{
  font-size: 30px;
  text-transform: capitalize;

}
.container{
    margin: 0 auto; 
    text-align: center;
}
/* body{
  background-image: url("psychic.jpg");
} */
.card{
   text-align: center;
   margin-bottom: 50px;
}
#app{
  color: white;
}

#start{
  
  margin-top: 20px;
  width: 150px;

}

.card-title{
    text-align: justify; 
}
.gameOver{
    text-align: center; 
    font-size: 40px; 
    color: red; 
}
#wins{
    font: bold; 
    font-size: 30px; 
    color: black;
}

.winDiv{
  margin-top: 25px;
  text-align: center; 
  font-size: 40px; 
  color: green; 
}
 #letterGuessed{
   font: bold;
   font-size: 30px;
   color: black;
 }
.gameContain{
  text-align: center;
  font-size: 25px;
  color: black;
}

#losses{
    font: bold; 
    font-size: 30px; 
    color: black;
}


#guessesRemaining{
    font: bold; 
    font-size: 30px;
    color: black;
}
@media screen and (max-width: 320px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  


